<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
	
	
    <div class="app">
        <h1>Apache Cordova</h1>
        <div id="deviceready" class="blink">
            <p class="event listening">Connecting to Device</p>
            <p class="event received"> For Some reason the button no longer seems to function when you have navigated onto a subpage.</p>
            <button id="buyNowBtn"> Buy Now !</button>
            <button id="buyInFutureBtn"> Pay in Future !</button>
            <button id="profileSharingBtn"> Profile Sharing !</button>
        </div>
    </div>
	
	
  </ion-content>
</ion-view>
