<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
    
    <div class="app">
        <h1>Apache Cordova</h1>
        <div id="deviceready" class="blink">
            <p class="event listening">Connecting to Device</p>
            <p class="event received"> The Button Works on the Initial loading page in this case Playlists
				<br /> However if you navigate to the browse page It no Longer works.</p>
            <button id="buyNowBtn"> Buy Now !</button>
            <button id="buyInFutureBtn"> Pay in Future !</button>
            <button id="profileSharingBtn"> Profile Sharing !</button>
        </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
